<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>

    
    <div id="wrapper">
        <div id="alert-wrapper">
            <div class="alert">
                <div class="head">
                    <div class="icon">
                        <i class="fa fa-exclamation"></i>
                    </div>
                </div>
                <div class="body text-center">
                    <div class="title">PERHATIAN</div>
                    <div class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, facere.</div>
                    <div class="action blue">BAIK</div>
                    <div class="action red">BAIK</div>
                </div>
            </div>
        </div>
        
        <div class="sidebarToggle flyingSidebarToggle">
            <i class="fa fa fa-bars"></i>
        </div>
        <div id="sidebar" class="">
            <div class="header">
                <div class="title">HANA NAN</div>
                <div class="sidebarToggle inSidebar">
                    <i class="fa fa fa-times"></i>
                </div>
            </div>
            <div class="body">
                <div class="tool-group">
                    <div class="title">ALGORITHM</div>
                    <div class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, molestias!</div>
                    <div class="tool">
                        <div class="text" id="set_position">Set Your Position</div>
                        <div class="cancel">Cancel</div>
                    </div>
                    <div class="tool">
                        <div class="text" id="set_destination">Set Destination</div>
                        <div class="cancel">Cancel</div>
                    </div>
                    <div class="tool disabled">
                        <div class="text">Cancel</div>
                    </div>
                </div>
                <div class="tool-group">
                    <div class="title">GRAPH</div>
                    <div class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, molestias!</div>
                    <div class="tool" id="show_graph">
                        <div class="text">Show Graph</div>
                        <div class="cancel">Cancel</div>
                    </div>
                    <div class="tool" id="create_node">
                        <div class="text">Create Node</div>
                        <div class="cancel">Cancel</div>
                    </div>
                    <div class="tool" id="remove_node">
                        <div class="text">Remove Node</div>
                        <div class="cancel">Cancel</div>
                    </div>
                    <div class="tool" id="connect_node">
                        <div class="text">Connect Node</div>
                        <div class="cancel">Cancel</div>
                    </div>
                    <div class="devider">
                        <div class="text">Graphs</div>
                        <div class="line"></div>
                    </div>
                    <div class="list">
                        <div class="item">
                            <div class="text">Lat: 5.176745235, Lng: 97.13243756</div>
                            <div class="close">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-3">
                        <div class="tool">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div id="demo"></div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
    
    <script src="scripts/InitIcons.js"></script>
    <script src="scripts/Utils.js"></script>
    <script src="scripts/Algorithms.js"></script>
    <script src="scripts/GMap.js"></script>
    <script src="scripts/Graph.js"></script>
    <script src="scripts/Mode.js"></script>
    <script src="scripts/Button.js"></script>
    <script src="scripts/Nodes.js"></script>
    <script src="scripts/Graphs.js"></script>
    <script src="scripts/Node.js"></script>
    <script src="scripts/Main.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=main" defer></script>
</body>
</html>